@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alliance";
  src: url("./Assets/fonts/Alliance-No-1-SemiBold.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Alliance";
  src: url("./Assets/fonts/Alliance-No-1-Bold.woff2");
  font-weight: 800;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Alliance";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  font-family: "Alliance", sans-serif !important;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}